.dashboardSidebar {
  height: 100vh !important;
  text-align: left !important;
  padding: 1rem;
  position: sticky;
  left: 0;
  top: 0;

  .sidebar_header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    h2 {
      color: var(--primary);
      text-align: center;
      margin-bottom: 0;
    }
    .sidebar_headerlogo {
      height: 35px;
    }
    .sidebar_header_closeBtn {
      color: var(--primary);

      &:hover {
        color: #ffff;
      }
    }
  }

  .nav-item {
    display: inline;
    align-items: center;
    margin-bottom: 5px;

    .MuiSvgIcon-root {
      margin-right: 15px;
    }

    .nav-link:hover {
      background-color: var(--secondary);
    }

    .active {
      background-color: var(--primary) !important;
    }
  }

  .dropdown-toggle {
    outline: 0;
  }

  .btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;

    &:hover,
    &:focus {
      color: rgba(var(--bs-emphasis-color-rgb), 0.85) !important;
      background-color: var(--bs-tertiary-bg) !important;
    }

    &::before {
      width: 1.25em;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform 0.35s ease;
      transform-origin: 0.5em 50%;
    }

    [data-bs-theme="dark"] &::before {
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    }

    &[aria-expanded="true"] {
      color: rgba(var(--bs-emphasis-color-rgb), 0.85);
    }

    &[aria-expanded="true"]::before {
      transform: rotate(90deg);
    }
  }

  .btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;

    &:hover,
    &:focus {
      background-color: var(--bs-tertiary-bg);
    }
  }

  .scrollarea {
    overflow-y: auto;
  }

  .sidebar_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.smallScreen {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 0 !important;
  height: 100vh !important;
  overflow-x: hidden !important;
  padding: 0 !important;
  transition: width 0.2s;
}

.show-sidebar {
  width: 300px !important;
  padding: 1rem !important;
}
