.aboutUs {
  padding: 80px 0;
  .aboutUs_img {
    display: flex;
    align-items: center;
    margin-right: auto !important;
    padding-right: 10px !important;
    img {
      width: 100% !important;
      border-radius: 20px;
    }
  }
  .aboutUs_content {
    text-align: justify;
    h2 {
      color: var(--primary);
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
    }

    .btn {
      background-color: var(--primary);
      color: var(--white);
      font-size: 15px;
      padding: 5px 20px;
      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }
}
@media screen and (max-width: 596px) {
  .aboutUs {
    padding-left: 15px;
    padding-right: 15px;
  }
}
